In [51]:
for i in range(1,6):
    if(i%2==0):
        continue;
    print(i*i);

1
9
25

In [6]:
birth_year=2000
current_year=2024
age=current_year-birth_year
age

24

In [19]:
tiles_area = (5.5)**2
print("Total cost is",tiles_area*500)
p =16
print("Binary of cost is",format(p,'x'))

Total cost is 15125.0
Binary of cost is 10

In [49]:
street ="Amena School "
city = "Gopalganj "
country= "Bangladesh "
print("The Address is: ",'\n'+street+'\n'+city+'\n'+country+'\n')
print(f"The f-Address is: \n{street}\n{city}\n{country}\n")
number= 123;
octal= format(number,'o')
hexa = format(number,'x')
bin= format(number,'b')

print(f"The number in decimal is {number}\nThe number in Octal is {octal}\nThe number in Hexadecimal is {hexa}\nThe number in Binarty is {bin}")

The Address is:
Amena School
Gopalganj
Bangladesh

The f-Address is:
Amena School
Gopalganj
Bangladesh

The number in decimal is 123
The number in Octal is 173
The number in Hexadecimal is 7b
The number in Binarty is 1111011

In [40]:
str="The earth revolves around the sun";
print(str[-3:])
print(str[4:9])

sun
earth

In [68]:
expense= [2200,2350,2600,2130,2190]
print(f"Extra expense in February= {expense[1]-expense[0]}")
total=0;
for i in expense:
    total=total+i
    
print(f'Total expense is {total}')
print(f'Did I spent 200 in any month? {2000 in expense}')
expense.append(1980);
expense[0]=expense[0]+200
print(expense)
expense.remove(2350)
print(expense)
expense.insert(1,333)
print(expense)
print(len(expense))
print(expense.sort())

Extra expense in February= 150
Total expense is 11470
Did I spent 200 in any month? False
[2400, 2350, 2600, 2130, 2190, 1980]
[2400, 2600, 2130, 2190, 1980]
[2400, 333, 2600, 2130, 2190, 1980]
6
None

In [72]:
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]

i= input("Enter a city name:")
j = input("Enter another city name: ")

if i in india and :
    print(f'{i} is a city from India)')
elif i in pakistan:
    print(f'{i} is a city from Pakisatn)')
elif i in bangladesh:
    print(f'{i} is a city from Bangladesh)')
else:
    print(f'Sorry!!I do not know the answer')

Enter a city name: mumbai

mumbai is a city from India)

In [75]:
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
heads= 0
tails=0

for i in result:
    if(i =="heads"):
        heads=heads+1;
    else:
        tails=tails+1;

print(f'The number of heads is {heads}\nThe number of tails is {tails}')

The number of heads is4
The number of tails is6

In [84]:
for i in range(1,6):
    s =''
    for j in range(i):
        s += '*'
    print(s)

*
**
***
****
*****

In [87]:
def calculate_sum(n):
    total = 0
    for item in n:
        total=total+item
    return total

list1 = [30,43,44,3,4]
list2= [45,5,6,34,4]

print(calculate_sum(list1))
print(calculate_sum(list2))

124
94

In [94]:
def area(height,base):
    answer = 1/2*float(base)*float(height)
    return answer

b = input("Enter the base");
h = input("Enter the height");

print(area(b,h))

Enter the base 4
Enter the height 5

10.0

In [98]:
def shape(n):
    for i in range(n+1):
        s=''
        for j in range(i):
            s += "*"
        print(s)

shape(4)

*
**
***
****

In [6]:
book = {}
book['shrawman']
{
    'name':'shrawman',
    'adderess': '198/2 Amena School Road,Gopalganj'
}

book['nayon']
{
    'name':'nayon',
    'adderess': '198/2 Amena School Road,Gopalganj'
}

import json
p = json.dumps(book)
print(p)

KeyError: 'shrawman'

In [20]:
f = open("D:\\demo.text","r")
f_out = open("D:\\demowc.text","w")
for line in f:
    tokens=line.split(' ')
    f_out.write(line + "Wordcount:" +str(len(tokens))+'\n')
    print(str(tokens))
f.close()
f_out.close()

['Teacher:', 'Why', 'are', 'u', 'late,', 'Frank?\n']
['Frank:', 'Beacuse', 'of', 'the', 'sign\n']
['Teacher:', 'What', 'sign?\n']
['Frank:', 'The', 'one', 'that', 'says', "'School'\n"]

In [25]:
num1 = input("Enter first number" )
num2 = input("Enter second number" )
try:
    z = int(num1)/int(num2)
except Exception as e:
    print("Exception occured",type(e).__name__,e)
    z = None
print('Division is ',z)

Enter first number 5
Enter second number 0

Exception occured ZeroDivisionError division by zero
Division is  None

In [26]:
population = {
    'china': 143,
    'india': 136,
    'usa': 32,
    'pakistan': 21
}

def add():
    country=input("Enter country name to add:")
    country=country.lower()
    if country in population:
        print("Country already exist in our dataset. Terminating")
        return
    p=input(f"Enter population for {country}")
    p=float(p)
    population[country]=p # Adds new key value pair to dictionary
    print_all()

def remove():
    country = input("Enter country name to remove:")
    country = country.lower()
    if country not in population:
        print("Country doesn't exist in our dataset. Terminating")
        return
    del population[country]
    print_all()

def query():
    country = input("Enter country name to query:")
    country = country.lower()
    if country not in population:
        print("Country doesn't exist in our dataset. Terminating")
        return
    print(f"Population of {country} is: {population[country]} crore")

def print_all():
    for country, p in population.items():
        print(f"{country}==>{p}")

def main():
    op=input("Enter operation (add, remove, query or print):")
    if op.lower() == 'add':
        add()
    elif op.lower() == 'remove':
        remove()
    elif op.lower() == 'query':
        query()
    elif op.lower() == 'print':
        print_all()

if __name__ == '__main__':
    main()

Enter operation (add, remove, query or print): add
Enter country name to add: myanmar
Enter population for myanmar 35

china==>143
india==>136
usa==>32
pakistan==>21
myanmar==>35.0

In [51]:
wordstat= {}
f = open ("D:\\poem.txt","r+")
for line in f:
    words=line.split(' ')
    for word in words:
        if word in wordstat:
            wordstat[word] += 1
        else:
            wordstat[word]=1
print(wordstat)
word_occurances = list(wordstat.values())
max_count = max(word_occurances)
print("Max occurances of any word is:",max_count)

print("Words with max occurances are: ")
for word, count in wordstat.items():
    if count==max_count:
        print(word)
        
f.close()

{'Two': 2, 'roads': 2, 'diverged': 2, 'in': 3, 'a': 3, 'yellow': 1, 'wood,\n': 1, 'And': 6, 'sorry': 1, 'I': 8, 'could': 1, 'not': 1, 'travel': 1, 'both\n': 1, 'be': 2, 'one': 3, 'traveler,': 1, 'long': 1, 'stood\n': 1, 'looked': 1, 'down': 1, 'as': 5, 'far': 1, 'could\n': 1, 'To': 1, 'where': 1, 'it': 2, 'bent': 1, 'the': 8, 'undergrowth;\n': 1, '\n': 3, 'Then': 1, 'took': 2, 'other,': 1, 'just': 1, 'fair,\n': 1, 'having': 1, 'perhaps': 1, 'better': 1, 'claim,\n': 1, 'Because': 1, 'was': 1, 'grassy': 1, 'and': 3, 'wanted': 1, 'wear;\n': 1, 'Though': 1, 'for': 2, 'that': 3, 'passing': 1, 'there\n': 1, 'Had': 1, 'worn': 1, 'them': 1, 'really': 1, 'about': 1, 'same,\n': 1, 'both': 1, 'morning': 1, 'equally': 1, 'lay\n': 1, 'In': 1, 'leaves': 1, 'no': 1, 'step': 1, 'had': 1, 'trodden': 1, 'black.\n': 1, 'Oh,': 1, 'kept': 1, 'first': 1, 'another': 1, 'day!\n': 1, 'Yet': 1, 'knowing': 1, 'how': 1, 'way': 1, 'leads': 1, 'on': 1, 'to': 1, 'way,\n': 1, 'doubted': 1, 'if': 1, 'should': 1, 'ever': 1, 'come': 1, 'back.\n': 1, 'shall': 1, 'telling': 1, 'this': 1, 'with': 1, 'sigh\n': 1, 'Somewhere': 1, 'ages': 2, 'hence:\n': 1, 'wood,': 1, 'Iâ€”\n': 1, 'less': 1, 'traveled': 1, 'by,\n': 1, 'has': 1, 'made': 1, 'all': 1, 'difference.': 1}
Max occurances of any word is: 8
Words with max occurances are:
I
the